$color_h2: #003399;
$color_h6: #039f97;
$color_p: #060606;
$color_blanco: #fff;
$color_header-area: #4233cc;
$color_border: #eee;
$color_pie-pagina: #44CF87;
$color_acerca-de-item-h4: #088ec3;
$color_acerca-de-item-h6: #2a2a2a;
$font-family: 'Open Sans', sans-serif;
